
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  margin: 50px auto;
  max-width: 1200px;
  overflow: auto;
}

input, button, textarea {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
}

#messages {
  width: 40%;
  float: left;
}

#name {
  width: 25%;
  float: right;
}

#send {
  width: 40%;
  float: right;
}


#leftdiv {
  margin-left: 15%;
  margin-right: 25%;
}
