<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
    <script src="{{ url_for('static', filename = 'script/script.js')}}"></script>
    <title>Carrier Pigeon</title>
</head>
<body>
        <h1 class="title">Carrier Pigeon</h1>
        <h2> Version 0.6.8</h2>
        <div id="container">
          <div id="leftdiv">
            <label for="messages"> Chat: </label>
            <textarea id="messages" name="messages" readonly rows="45"></textarea>
          </div>
          <div id="rightdiv">
            <label for="name"> Name: </label>
            <input type="text" id="name" name="name" />
            <label for="send"> Message: </label>
            <textarea id="send" name="send" rows="15"></textarea>
            <button type="button" onclick="callApp();">Send Message</button>
          </div>
        </div>
      
</body>
</html>